<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Filled with help from https://www.heymeta.com/ -->

<!-- HTML Meta Tags -->
<title>TP Todo List façon Low Tech Web</title>
<meta name="Description" content="Une Todo List pour tout le monde !" />

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="TP Todo List façon Low Tech Web" />
<meta itemprop="description" content="Une Todo List pour tout le monde !" />
<meta itemprop="image" content="https://acailly.github.io/profile.png" />

<!-- Facebook Meta Tags -->
<meta property="og:title" content="TP Todo List façon Low Tech Web" />
<meta property="og:description" content="Une Todo List pour tout le monde !" />
<meta property="og:image" content="https://acailly.github.io/profile.png" />
<meta property="og:image:width" content="220" />
<meta property="og:image:height" content="201" />
<meta
  property="og:url"
  content="https://github.com/acailly/tp-todolist-lowtechweb"
/>
<meta property="og:type" content="website" />

<!-- Twitter Meta Tags -->
<meta name="twitter:title" content="TP Todo List façon Low Tech Web" />
<meta
  name="twitter:description"
  content=" Une Todo List pour tout le monde !"
/>
<meta name="twitter:image" content=" https://acailly.github.io/profile.png" />
<meta name="twitter:image:alt" content="Profile image of Antoine Cailly" />
<meta name="twitter:card" content="summary_large_image" />

<!-- Classless UI Framework -->
<!-- TODO : Décommenter pour appliquer -->
<!-- <link rel="stylesheet" href="/tacit-css.min.css" /> -->
